body{
    padding: 20px;
}
h2{
    text-align: center;
    color:rgb(15, 135, 240);
    background-color: aquamarine;
    padding:20px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
img{
    margin: 0 auto;
}
h1{
    text-align: center;
}